/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #085f3f;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px*/
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Page body */
.page-body {
  margin-left: 220px;
}

/* On screens that are less than 700px wide */
@media screen and (max-width: 700px) {
  .page-body {
    margin-left: 0px;
  }
}

/* Cards */
.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-header {
  color: #085f3f;
  background-color: white;
  font-weight: bold;
}

.card-footer {
  background-color: white;
}

.card-footer .text-success {
  color: #085f3f;
}

.card-footer .text-danger {
  color: #bb1534;
}

/* Calender */

.calender-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.calender-date-box {
  border: 2px solid #085f3f;;
  text-align: center;
  padding: 0px;
}

.calender-date-month {
  background-color: #085f3f;
  color: white;
}